body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    height: 50px;
}

.orange-color {
    color: orange;
}

.flexible-container {
    display: flex;
    margin-bottom: 150px;
}

.half-weight {
    width: 50%;
    padding: 10px;
}

.half-weight img {
    width: 70%;
    padding-left: 90px;
}

.link-button {
    text-decoration: none;
    /* background-color: aqua; */
    background-image: linear-gradient(orange, tomato);
    color: white;
    padding: 10px 35px;
    border-radius: 5px;
}

.top-banner {
    background-image: url(../Images/top-banner.png);
    background-repeat: no-repeat;
}

.dream-big {
    background-image: url(../Images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.gold-color {
    color: gold;
}

.experience-area {
    background-image: url(../Images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

.experience-item {
    width: 40%;
    border-radius: 15px;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;
    box-shadow: 10px 10px 50px green;
    /* border-left: 10px solid; */
}

#full-stack-experience {
    border-left: 7px solid;
    border-image: linear-gradient(aqua, red);
    border-image-slice: 1;
}

#web-developer-experience {
    border-left: 7px solid;
    border-image: linear-gradient(yellow, hotpink);
    border-image-slice: 1;
}

footer p {
    text-align: center;
    color: gold;
}